{% extends "app1/base.html" %} {% load static %} {% block content %}

<div class="container">
  <h1 style="text-align: center; padding: 10px">Dashboard</h1>
  <div class="row">
      <h1 class="alert alert-success my-3" style="text-align: center; padding: 10px" > Schedule an Event </h1>
      
      <svg class="alert alert-success my-3"  style="text-align: end;" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
  </div>
  
  <h1 style="text-align: center; padding: 10px">Scheduled Events</h1>
  <div class="row">
      <h3 class="alert alert-warning my-3" > Schedule an Event</h3>
  </div>
</div>

{% endblock content %}
